// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { padding-top: 0px; }

div.encabezado {
    margin-right: 10px;
    background-color: red;
    height: 25;
    border-width: 2px;
    border-color: black;

}



